body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial;
}

#ui {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
}

#ui button {
    padding: 10px 15px;
    margin-right: 10px;
    font-size: 16px;
    border: none;
    background: #008CFF;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

#ui button:hover {
    background: #0070cc;
}

#infoPanel {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    background: rgba(0,0,0,0.85);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 20;
    display: none;
}
#infoPanel button {
    margin-top: 10px;
}
